@import "../../base.module";

.profile {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 58px;
  right: 17px;
  transition: opacity 0.15s ease-in-out;
  background-color: #202020;
  opacity: 0;
  z-index: -1;
  width: 250px;
  max-height: 300px;
  border-bottom: $border;
  border-left: $border;
  border-right: $border;
}

.profile.open {
opacity: 1;
  z-index: 2;
}

.padding {
  padding: 0.5em;
}
