@import "../../base.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;

    background-color: $black-tertiary;
    
    width: 100%;

    &__left-menu {
        display: flex;
        align-items: center;   
    }
    &__logo {
        display: block;
        object-fit: contain;
        margin-left: 1.5em;
    }
    &__form {
        flex: .6;
        display: flex;
        padding: .1rem;
        margin: 0 1rem;
        border-radius: 3px;
        max-width: 650px;
        
        input {
            width: 100%;
            border: none;
            font-weight: 500;
            background-color: $black-secondary;
            padding: .5em;
            color: #ece5e5;
            border: 1px solid #323232;
            
            &:focus {
                outline: none;
            }
        }

    }
    &__icons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        svg {
            margin-left: .7em;
            margin-right: .7em;
        }

        img {
            margin-left: .7em;
            margin-right: .7em;
        }
    }

}

.header__avatar {
    display: inline-block;
    background: rgb(75, 75, 218);
    border-radius: 100%;
    object-fit: contain;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn {
    border: none;
    background-color: #323232;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.btn--thick {
    padding: .2em .7em;
}

.btn--rounded {
    position: relative;
    border-radius: 50%;
    padding: .5em;
}

.btn--black-secondary {
    background-color: $black-secondary;
}

.btn--margin-left {
    margin-left: .5em;
}

.btn__search-icon {
    display: inline-block;
    vertical-align: middle;
    
}

.btn__voice-icon {
    display: inline-block;
    vertical-align: middle;
}

