

.appContainer {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.appMain {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: var(--left-margin, 0);
    margin-top: var(--header-height, 0);
}