.homeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: .625rem .625rem;
}

.homeContainer {
  display: block;
}

.videosContainer {
  padding-left: .8em;
  padding-right: 1rem;
}

.marginTopSpinner {
  margin-top: 2em;
}
